
.Fourth{
     width: 100%;
    min-height: 1700px;
    background: radial-gradient(130.69% 72.54% at 50.00% 50.00%, rgba(8, 13, 80, 0.721) 99.99%, rgba(0, 0, 0, 0.23) 100%), radial-gradient(229.67% 123.39% at 6.13% 14.64%, rgba(7, 9, 75, 0.784) 24.18%, rgba(36, 37, 73, 0.20) 70.49%), rgba(217, 217, 217, 0.01); 
}

.headingMain{
 
      margin: auto;
      max-width: 916px; 
      color: rgba(175, 204, 248, 1);
text-align: center;
font-family: Inter;
font-size: 70px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 30px;

}

.headingSubPart{
    color: #F2BD4D;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.scrollableCardDiv{
  
       display: flex;
       flex-direction: row;
       overflow: scroll;
       padding-top: 40px;

}

.scrollDivs{
    
height: 600px;
flex-direction: column;
justify-content: center;
align-items: flex-start; 
margin-left: 280px;
align-items: center;
color: white;
font-size: larger;
font-weight: 800;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    }




    


















.banner1{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
    max-width:  95%;
    margin: auto; 
    border-radius: 40px;
background: rgba(255, 255, 255, 0.08);

}


.divleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;

}

.divleftTitle{
    color: #AFCCF8;
text-align: center;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.divleftDesc{
    width: 500px;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
















 .divmiddle   {
                
    background-color: rgba(186, 185, 255, 1);
    width: 573px;
    height: 84px; 
    
    border-radius: 88px;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;

 }

 .divmiddle>input{
      width: 60%;
      height: 95%;
      outline: none;
      border: none;
      border-radius: 88px;
       color: black;
       font-weight: 600;
       font-size: larger;
    background-color: rgba(186, 185, 255, 1);
    
    cursor: pointer;
 }


 .divmiddleBtn{
    margin-bottom: 3px;
    margin-left: 40px;
      width: 30%;
      min-height: 90%;
      border-radius: 88px;
      border: none;
      color: black;
      background-color: #F2BD4D;
      font-size: larger;
      font-weight: 700;
      align-self: flex-end;
      
    cursor: pointer;
 }
 






















 .divright > img {
    width: 312px;
height: 275px;
object-fit: cover;
object-position: center;
 }



 




 

.footerDivs{ 

    display: flex;
    flex-direction: row; 
    max-width: 95%; 
    justify-content: space-around;
    margin-top: 30px; 
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    border-radius: 40px;
background: rgba(255, 255, 255, 0.08);
  margin-top: 40px;
  padding-bottom: 20px;


}
 

 .footerFirstDiv{

      max-width: 40%;
 }

.footerFirstDivTitle{
    
   color: #AFCCF8;
   font-size: 64px;
   text-align: center;
   font-family: Inter; 
   font-style: normal;
   font-weight: 600;
   line-height: normal;

}

.footerFirstDivDesc{

    color: white;
    font-weight: 600;
    max-width: 100%;
    font-size: 24px;
}



.footerSecondDiv{ 

    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
    justify-content: space-between;
    gap: 60px;
    max-width: 60%;
}



.footerSecondDivLinks{

color: white;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;

}


.footerSecondDivLinks > p:hover{
     
     color: red;
     transition: 0.2 ease-in;
}

.footerSocials{

   display: flex;
   flex-direction:column; 
   flex-wrap: wrap;
   justify-content: flex-start;
   color: white;

}

.footerSocialsSvg{
      
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 80px;
      margin-bottom: 20px;
}


 

 



























