







.mainDiv{
    width:  100%;
min-height: 1117px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  
}






.navBar{
    padding-top: 20px;
     display: flex;
     width:  100%;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center; 
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     margin: auto;

}

.navBarLogo {

    list-style: none;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font:bold;

}
.navLoginBtn{
      
    background-color:rgba(254, 210, 91, 0.2);
    border: 1px solid rgba(254, 210, 91, 1);
    color: 
    rgba(254, 210, 91, 1);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}




.navbarLinks{
       display: flex;
       flex-direction: row;
       list-style: none;
       flex-wrap: wrap;
       text-decoration: none;
       justify-content: space-around; 
       width:30rem;
       cursor: pointer;
}

@media screen and (max-width: 680px) {
    .navbarLinks {
      /* Set the display to none when the width is 480px or less */
      display: none;
    }
  }


  .linkOptions {
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  .videoTag{

     object-fit: cover;
     object-position: center;
     display: flex;
     flex-wrap: wrap;
     width:100%;
  }

  .quoteDiv{
      
      position: absolute;
      align-items: center;
      top: 30%;
      left: 30%;
      right: 50%;
      min-width: 50%;
      font-size: 4rem;
  }


  @media screen and (max-width:780px) {
           .quoteDiv{

                align-self: center;
                margin: auto;
                /* position: unset; */
                

           }
    
  }
  
  .quoteText{
   color: rgba(254, 210, 91, 1);
   
   display: flex;
   flex-direction: column;

  }
  .quoteDivBtn{ 
     padding: 20px;
     padding-left: 100px;
     padding-right: 100px;
     border-radius: 10px;
     border: none;
     background-color: rgba(0, 0, 255, 0.789);
     font-size: 15px;
     color: white;
     font-weight: 600;
  }

  .assistantDiv > img{
    position: absolute;
    width: 110px;
     min-height:110px;
    top: 900px;  
    right: 0;  
    padding-left: 20px;
    cursor: pointer;
    object-fit: cover;
    margin-right:40px ;


  }



  