 .secondBlock{

    width: 100%; 
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background: radial-gradient(130.69% 72.54% at 50.00% 50.00%, rgba(0, 0, 0, 0.35) 99.99%, rgba(0, 0, 0, 0.23) 100%), radial-gradient(229.67% 123.39% at 6.13% 14.64%, rgba(47, 52, 183, 0.715) 24.18%, rgba(36, 37, 73, 0.20) 70.49%), rgba(217, 217, 217, 0.01);
    
    
 }


 .leftDiv{
    width: 510px;
    height: 700px;
    overflow-x: scroll;
    margin: auto; 
    


 }




   @media screen and ( max-width: 880px){
           .leftDiv{
            display: flex;
            flex-direction: row;
            overflow-x: scroll; 


           }
           .rightDivDesc{

               display: none;
           }
   }


 .rightDiv{
       width: 60%;
      display: flex;
      flex-direction:column;
      flex-wrap: wrap;
      justify-content: center; 
      margin: 20px;
      align-items: center;
 }



 .rightDescText{
 
      font-size: 16px;
      width: 50%;
      color: rgb(255, 255, 255);
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      align-items: center;
      text-align: center;
      font-size: large;
      font-weight: 700;
 }

 .rightDivDescTitle{
     
      margin: auto;
      font-size: larger;


 }

 .rightDivTitle{
     
      font-size: 40px;
      width: 60%; 
      margin: auto;
      

      margin-bottom: 20px;
 }

 .rightDivBtn{

     margin-top: 30px;
     width: 250px;
     height: 40px;
     margin-bottom: 20px;
     background-color: rgba(213, 212, 255, 1);
    border: none;
    border-radius: 12px;
    cursor: pointer;
 }

